<div id="main" class="layout-main">
    <header>
        <app-header-inner></app-header-inner>
        <app-filter-area></app-filter-area>
    </header>
    <!-- Page content area start -->
    <div class="wrapper">
        <div class="sidebar-toggle-menu">
            <app-sidebar></app-sidebar>
        </div>
        <div class="main-content">
            <router-outlet></router-outlet>
        </div>
    </div>
    <!-- Page content area start -->
    <footer>
        <app-footer></app-footer>
    </footer>
  </div>
