<div class="two-column-layout">
    <div class="container-fluid">
        <!-- panel one start -->
        <div class="panel">
            <div class="panel-heading d-flex">
                <h2>Countries List</h2>
            </div>
            <div class="panel-content">
                <div class="list-year">
                    <div class="form-check">
                        <input #checkbox1  class="form-check-input" type="checkbox"
                            value="2021" id="flexCheckChecked">
                        <label class="form-check-label" for="flexCheckChecked" mat-raised-button>
                            2021
                        </label>
                    </div>
                    <div class="form-check">
                        <input #checkbox2  class="form-check-input" type="checkbox"
                            value="2022" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault" for="flexCheckChecked" mat-raised-button>
                            2022
                        </label>
                    </div>
                    <div class="tooltip-main">
                        <div class="tooltip-option right">
                            <span class="arrow is-triangle is-left"></span>
                            <div class="tooltip-inner">
                                <h5>Check out our new feature</h5>
                                <p>You can display comparison results by selecting two countries from the list of
                                    countries.</p>
                                <a href="#">Got it!</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="map-legends">
                    <span class="material-icons blue-legend">
                        fiber_manual_record
                    </span><span >&nbsp;2021</span>&nbsp;&nbsp;&nbsp;
                    <span class="material-icons text-danger" >
                        fiber_manual_record
                    </span><span >&nbsp;2022</span>
                </div>
                <div class="countries-map">
                    <div id="chartdiv" style="width: 100%; height: 70vh"></div>
                </div>
            </div>
        </div>

    </div>
</div>
