.panel-heading {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.panel-heading h2 {
    margin-bottom: 0;
}

.panel-heading button {
    border-color: #128FFE !important;
    color: #128FFE !important;
    font-weight: normal;
    font-size: 12px;
}

.panel {
    padding: 25px 15px;
    box-shadow: 0px 0px 9px 1px rgb(204 204 204 / 50%);
    margin-bottom: 30px;
}

.list-year {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #D2D2D2;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.list-year .form-check {
    margin-right: 15px;
}

.list-year .form-check label {
    color: #8E8D8F;
    font-weight: 500;
    position: relative;
    top: 2px;
}

.list-year .form-check-input:checked {
    background-color: #5380CD;
    border-color: #5380CD;
}

/* tooltip css start */
.tooltip-inner p {
    font-size: 11px;
    line-height: 14px !important;
}

.tooltip-inner a {
    color: #fff;
    font-size: 12px;
    width: 100%;
    text-align: right;
    display: inline-block;
}

.tooltip-inner {
    color: #fff;
    text-align: left;
    background-color: #0078D4;
    position: absolute;
    width: 200px;
    left: 0;
    margin-top: -50px;
}

.arrow.is-left {
    -moz-transform: rotate(134deg);
    -ms-transform: rotate(134deg);
    -webkit-transform: rotate(134deg);
    transform: rotate(134deg);
}

.tooltip-option.right .arrow {
    margin: 0;
    display: inline-block;
    height: 12px;
    position: absolute;
    width: 12px;
    left: -6px;
    top: 4px;
}

.tooltip-option {
    position: relative;
    right: 0;
    display: none;
}

.list-year:hover .tooltip-option {
    display: block;
}

.arrow.is-triangle::after,
.arrow .arrow.is-triangle::after {
    border-color: transparent;
    border-bottom-color: #0078D4;
}

.arrow.is-triangle::after {
    border-style: solid;
    border-width: 0 0 12px 12px;
    height: 0;
    width: 0;
}

.arrow::before,
.arrow .arrow::before {
    background-color: #0078D4;
}

.arrow::after {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-right-style: solid;
    border-right-width: 2px;
    content: "";
    display: inline-block;
    height: 12px;
    left: 0;
    position: absolute;
    top: 0;
    width: 12px;
}

.material-icons {
    margin-top: 1px;
    font-size: 18px;
}

.blue-legend {
    color: #7589FF;
}

.map-legends {
    display: flex;
    float: right;
    padding-right: 2%;
    justify-content: space-between;
}
