<div id="home-content-header">
    <div class="container">
        <div class="content-area">
            <div class="home-heading">
                <h1>
                      <span class="nametag">2021</span>
                      <span class="nametag">2022<div class="chat icon">New</div></span><span class="rest-txt">GLOBAL RESEARCH MAP OF DIGITAL HEALTH & AI</span></h1>
            </div>
        </div>
    </div>
</div>
<div class="content-area">
    <div class="container">
        <div class="home-content">
            <h1>Connection dots between R&D landscape and the muturity of national DH strategies</h1>
            <p>The Global research map aspire to bridge the AI Digital Health Divide in order to increase collaboration and coherence, to enhance adoption and to maximize 
                the impact of research. Our work is based on a new innovative methodology bringing together clusters based on similarity and strategic bechmarking, creating
                a new world guidance map, identifying areas of opportunities for collaboration and to define the next steps. 
            </p>
            <p>The global R&D map deployed to date will showcase a comprehensive landscape view of the research and the parents across the world, divided into 9 sub regions, 
                and show correlations and opportunities that were not visible earlier.
            </p>
            <p>In <strong>2022</strong>, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nec porttitor leo. Pellentesque ultricies diam eget leo viverra efficitur. Morbi in 
                egestas ex. Pellentesque congue gravida posuere. Etiam ex dui, 
                accumsan eget molestie et, pharetra eget ipsum. Mauris id mauris urna. Vestibulum lacinia vulputate finibus.
            </p>
            <p>
                <a class="link">I-DAIR GRM 2021 release is available here</a>
            </p>
            <button mat-button>Read More</button>                                                                                                                      
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card image-card">
                    <a [routerLink]="['/ndhs-map']" routerLinkActive="router-link-active" >
                    <img src="assets/images/banner-01.jpg" class="card-img-top" alt="...">
                    <h2>National Digital Health <br>Strategy Map</h2>
                    </a>
                  </div>
            </div>
            <div class="col">
                <div class="card image-card">
                    <img src="assets/images/banner-02.jpg" class="card-img-top" alt="...">
                    <h2>Digital Health Research and<br> Development Map</h2>
                  </div>
            </div>
            <div class="col">
                <div class="card image-card">
                    <a [routerLink]="['/ndhs-map']" routerLinkActive="router-link-active" >
                    <img src="assets/images/banner-03.jpg" class="card-img-top" alt="...">
                    <h2>Digital Mental Health Research and<br> Development Map</h2>
                    </a>
                  </div>
            </div>
        </div>
    </div>
</div>